.App {
  box-sizing: border-box;
  position: absolute;
  width: 80%;
  height: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  height: 80px;
  width: 80px;
  border: 2.5px solid #3e3a3c;
  margin: 10px;
  position: relative;
}

.box1 {
  height: 80px;
  width: 80px;
  border: 2.5px solid #3e3a3c;
  margin: 10px;
  position: relative;
  animation-name: prashant;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
@keyframes prashant {
  from {
    border: 2.5px solid rgba(232, 183, 18, 255);
  }
  to {
    border: 2.5px solid #3e3a3c;
  }
}
.letter {
  color: #000000;
  font-weight: 500;
  display: flex;
  box-sizing: border-box;
  height: 73%;
  background-color: #4b5e6e;
  opacity: 0.8;
  align-items: center;
  justify-content: center;
}

.label {
  /* padding: 0 13px; */
  display: flex;
  justify-content: center;
  background-color: rgba(232, 183, 18, 255);
}
